/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 共通タグのCSS */
a {
  text-decoration: none;
}

.container {
  width: 100%;
  margin: 0 auto; /* 中央寄せ */
}

.title-line {
  height: 3px;
  width: 70px;
  background-color: #ec715f;
  margin: 8px auto 0px auto;
}

/* ヘッダーのCSS */
header {
  height: 70px;
  background-color: #ec715f;
}

header .logo {
  height: 70px;
  float: left; /* 左寄せ */
}

header nav {
  float: right; /* 右寄せ */
}

header .nav-item {
  float: left; /* 左寄せ */
  list-style: none; /* リストの「・」を削除 */
  font-size: 16px;
  margin: auto 30px; /* 左右に30pxの空白 */
  line-height: 70px; /* 行ボックスの高さ。70px内で上下中央寄せとなる */
}

header .nav-item a {
  color: #fafafa;
}

/* main-visualのCSS */
#main-visual {
  width: 100%;
  height: 650px;
  background-image: url(img/mv.png);
  background-position: center; /* 背景画像の中央表示 */
  background-size: cover; /* 背景画像の画像の縦横比を維持しながら最大化 */
}

#main-visual .container {
  color: #fafafa;
  text-align: center; /* 文字列の中央寄せ */
  padding-top: 200px;
}

#main-visual .mv-title {
  font-size: 64px;
  margin-bottom: 10px;
}

#main-visual .mv-text {
  font-size: 20px;
}

/* portfolioのCSS */
#portfolio {
  width: 100%;
  background-color: #eceff1;
}

#portfolio .container {
  color: #000000;
  text-align: center; /* 文字列の中央寄せ */
  padding-top: 90px;
  padding-bottom: 90px;
}

#portfolio .p-title {
  font-size: 32px;
}

#portfolio .p-text {
  margin: 30px auto;
}

#portfolio .portfolio-images {
  width: 920px;
  margin: 0 auto; /* 要素の中央寄せ */
  display: flex; /* Flexboxの利用 */
  flex-wrap: wrap; /* Flexboxの利用時に横幅を超えた要素を折り返す */
}

#portfolio .portfolio-image {
  width: 300px;
  height: 250px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-position: center; /* 背景画像の中央表示 */
  background-size: cover; /* 背景画像の画像の縦横比を維持しながら最大化 */
}

#portfolio .portfolio-image:nth-child(3n) {
  margin-right: 0px; /* 3の倍数番目の要素のみ右側余白を0pxに */
}

#portfolio .portfolio-image:nth-last-child(-n + 3) {
  margin-bottom: 0px; /* 最後の行の要素のみ下側余白を0pxに */
}

#portfolio .portfolio-image1 {
  background-image: url(img/sketch.jpg);
}

#portfolio .portfolio-image2 {
  background-image: url(img/websuku.png);
}

#portfolio .portfolio-image3 {
  background-image: url(img/write.jpg);
}

#portfolio .portfolio-image4 {
  background-image: url(img/webcamp.png);
}

#portfolio .portfolio-image5 {
  background-image: url(img/talk.jpg);
}

#portfolio .portfolio-image6 {
  background-image: url(img/webcamp-mother.png);
}

/* featureのCSS */
#feature {
  width: 100%;
}

#feature .container {
  color: #000000;
  text-align: center; /* 文字列の中央寄せ */
  padding-top: 90px;
  padding-bottom: 90px;
}

#feature .f-title {
  font-size: 32px;
}

#feature .f-text {
  margin: 30px auto;
}

#feature .features {
  width: 980px;
  margin: 0 auto;
  display: flex; /* Flexboxの利用 */
  flex-wrap: wrap; /* Flexboxの利用時に横幅を超えた要素を折り返す */
}

#feature .feature {
  width: 320px;
  height: auto;
  margin-right: 10px;
}

#feature .feature:last-child {
  margin-right: 0px; /* 3番目の要素のみ右側余白を0pxに */
}

#feature i {
  font-size: 60px;
}

#feature .strength-title {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  margin: 10px 0px;
}

#feature .strength-text {
  font-size: 16px;
  color: #000000;
  text-align: left;
}

/* profileのCSS */
#profile {
  width: 100%;
  background-color: #eceff1;
}

#profile .container {
  color: #000000;
  text-align: center; /* 文字列の中央寄せ */
  padding-top: 90px;
  padding-bottom: 90px;
}

#profile .pr-title {
  font-size: 32px;
}

#profile .pr-text {
  margin: 30px auto;
}

#profile .profile-area {
  width: 1024px;
  display: flex; /* Flexboxの利用 */
  margin: 0 auto; /* 要素の中央寄せ */
}

#profile .left-content {
  width: 512px;
}

#profile .right-content {
  width: 512px;
}

#profile .profile-image {
  width: 250px;
  height: 250px;
  border-radius: 50%; /* 角丸半径を50%にする(=円形にする) */
  background-image: url(img/my-icon.jpg);
  margin: 0 auto; /* 要素の中央寄せ */
}

#profile .description-title {
  font-size: 20px;
  margin-bottom: 5px;
  text-align: left; /* 文字列の左寄せ */
}

#profile .description-text {
  font-size: 16px;
  margin-bottom: 20px;
  text-align: left; /* 文字列の左寄せ */
}

/* contactのCSS */
#contact {
  width: 100%;
}

#contact .container {
  color: #000000;
  text-align: center; /* 文字列の中央寄せ */
  padding-top: 90px;
  padding-bottom: 90px;
}

#contact .c-title {
  font-size: 32px;
}

#contact .c-text {
  margin: 30px auto;
}

#contact .contact-area {
  width: 800px;
  display: flex; /* Flexboxの利用 */
  margin: 0 auto; /* 要素の中央寄せ */
}

#contact .left-content {
  width: 400px;
}

#contact .right-content {
  width: 400px;
}

#contact .contact-description {
  width: 200px;
  margin: 0 auto; /* 要素の中央寄せ */
  text-align: left; /* 文字列の左寄せ */
}

#contact .description-title {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 5px;
}

#contact .description-title:first-child {
  margin-top: 0px;
}

#contact .description-link {
  font-size: 16px;
}

#contact .sns-description {
  width: 200px;
  margin: 0 auto; /* 要素の中央寄せ */
  text-align: left; /* 文字列の左寄せ */
}

.sns-description i {
  font-size: 50px;
  margin-right: 20px;
}

.sns-description i:last-child {
  margin-right: 0px;
}

/* footerのCSS */
footer .container {
  width: 100%;
  height: 60px;
  background-color: #ec715f;
  line-height: 60px;
}

footer p {
  font-size: 16px;
  color: #fafafa;
  text-align: center;
}

/* レスポンシブ対応 */
@media screen and (max-width: 768px) {
  /* 共通のCSS */
  .clear-br {
    display: none;
  }

  /* ヘッダーのCSS */
  header {
    height: 50px;
  }

  header .container {
    width: 90%;
    height: 50px;
    margin: 0 auto; /* 左右に5pxの余白 */
  }

  header .logo {
    height: 50px;
  }

  header .nav-item {
    display: none;
  }

  /* ハンバーガーボタンのCSS */
  .menu-box {
    float: right;
    width: 40px;
    height: 40px;
    margin: 5px 0px;
    margin-right: 5%;
    border: 1px solid #fafafa;
  }

  .list-bar {
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px auto;
    background-color: #fafafa;
  }

  .list-bar:first-child {
    margin-top: 10px;
  }

  /* main-visualのCSS */
  #main-visual {
    background-image: url(img/code.png);
  }

  #main-visual .container {
    width: 90%;
  }

  #main-visual .mv-title {
    font-size: 40px;
  }

  #main-visual .mv-text {
    font-size: 18px;
  }

  /* portfolioのCSS */
  #portfolio .container {
    width: 90%;
  }

  #portfolio .portfolio-images {
    width: 300px;
  }

  #portfolio .portfolio-image {
    margin-right: 0px;
  }

  #portfolio .portfolio-image:last-child {
    margin-bottom: 0px; /* 最後の行の要素のみ下側余白を0pxに */
  }

  #portfolio .portfolio-image1 {
    display: none;
  }

  #portfolio .portfolio-image3 {
    display: none;
  }

  #portfolio .portfolio-image5 {
    display: none;
  }

  /* featureのCSS */
  #feature .container {
    width: 90%;
  }

  #feature .features {
    width: 320px;
  }

  #feature .feature {
    margin-right: 0px;
    margin-bottom: 10px;
  }

  /* profileのCSS */

  #profile .container {
    width: 90%;
  }

  #profile .profile-area {
    width: 100%;
    flex-wrap: wrap; /* Flexboxの利用時に横幅を超えた要素を折り返す */
  }

  #profile .left-content {
    width: 100%;
  }

  #profile .right-content {
    width: 100%;
  }

  /* contactのCSS */
  #contact .container {
    width: 90%;
  }

  #contact .contact-area {
    width: 100%;
    flex-wrap: wrap; /* Flexboxの利用時に横幅を超えた要素を折り返す */
  }

  #contact .left-content {
    width: 100%;
    margin-bottom: 20px;
  }

  #contact .right-content {
    width: 100%;
  }

  #contact .contact-description {
    text-align: center; /* 文字列の中央寄せ */
  }

  #contact .sns-description {
    text-align: center; /* 文字列の中央寄せ */
  }

  /* footerのCSS */
  footer .container {
    width: 100%;
    height: 60px;
    background-color: #ec715f;
    line-height: 60px;
  }

  footer p {
    font-size: 16px;
    color: #fafafa;
    text-align: center;
  }
}
